#src_url {
	display: block;
	width: 500px;
}
#btn_get {
	width: 5em;
}
#target_contents {
}
#target_img {
	display: block;
	height: 300px;
	width: 300px;
}
form h2 {
	margin: 0.3em 0;
}
form aside {
	display: block;
	margin: 0 0 0.3em;
	font-style: italic;
	font-size: smaller;
}
form input {
	margin: 0.3em 0;
}

