#src_url {
	display: block;
	width: 500px;
}
#btn_get {
	width: 5em;
}
#target_contents {
}
#img_container {
	display: block;
/*	height: 500px;*/
	width: 80%;
	overflow-x: auto;
	overflow-y: auto;
}
form h2 {
	margin: 0.3em 0;
}
form aside {
	display: block;
	margin: 0 0 0.3em;
	font-style: italic;
	font-size: smaller;
}
form input {
	margin: 0.3em 0;
}
#download_action {
	display: none;
	margin: 0.3em 0;
}
#results {
	display: none;
	margin: 0;
	padding: 0;
}
